/*
(*************************)
    Color Variables
(*************************)
*/
@font-face {
  font-family: 'Kankin';
  src: url('../src/fonts/Kankin.otf');
  font-weight: normal;
  font-size: normal;
}
body {
  background-color: #f3593e;
  font-size: 13px;
  color: #fff1ea;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Kankin';
  display: block;
  color: inherit;
  text-transform: capitalize;
  font-weight: 400;
}
h1,
.h1 {
  color: #fff6f3;
  font-size: 3em;
}
h2,
.h2 {
  color: #d6927b;
  font-size: 2.4em;
}
h3,
.h3 {
  font-size: 1.8em;
}
header {
  background-color: #1f1d1f;
  width: 98%;
  margin: 0 auto;
}
header h1 {
  margin: 0;
}
#content {
  width: 95%;
  margin: 0 auto;
}
.results-container {
  background-color: #fefcfe;
}

/*
(*************************)
    Color Variables
(*************************)
*/
@font-face {
  font-family: 'Kankin';
  src: url('../src/fonts/Kankin.otf');
  font-weight: normal;
  font-size: normal;
}
